body {
	background:url("../img/1.jpg") top left;
	background-size:100%;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#head {
    height: 100px;
	height: 10%;
}

#center {
	width: 1000px;
	height: 85%;
    margin: 0 auto;
}

#center #show_info {
	height: 80%;
}

#center #show_info #tip{
	height: 200px;
	width: 400px;
	padding-top: 40%;
    padding-left: 200px;
}

#tip img {
	width: 400px;
}

/* 回复框span */
#center #show_info #tip #reply_span {
	position: absolute;
    margin-top: 90px;
    margin-left: 40px;
    width: 300px;
}

#center #info {
	margin-left: 200px;
	float: left;
    width: 50%;
}

#center #btn_send {
	margin-top: 10px;
    margin-left: 50px;
}

#child_window {
	position: absolute;
    width: 630px;
    height: 825px;
    top: 10px;
    left: 10px;
}

iframe {
	width: 630px;
    height: 825px;
}

#help_div {
	position: absolute;
    left: 30px;
    top: 90%;
	cursor: pointer;
}

#help_div #help {
	height: 50px;
}

/* bottom */
#bottom {
	padding: 10px;
}

#copyright {
    color: #CCCCCC;
	text-align: center;
}

#copyright_span {
	font-size: 12px;
	color: #666666;
	letter-spacing: 0.86px;
	text-align: justify;
}